body {
    background-color: #1c97d4; 
    text-align: center;
    color: #fff;
}

main {
    margin: 11% 0 0 0;
}

span {
    display: inline-block;
    width: 120px;
    height: 120px;
    font-size: 88px;
    color: #fff;
    background: #fdb90f;
    background: linear-gradient(to top, #fdb90f 14%, #4e3d11 60%);
    padding: 0.8% 2% 1% 1.5%;
    border-radius: 10px;
    font-weight: 500;
    margin-right: 0.7%;
    position: relative;
   
}
span:nth-child(5) {
  animation: swing 0.01s linear infinite;
 
}
span:nth-child(4) {
  animation: bounce 1s ease-in infinite;
 
}
h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size:60px;
}
    
    



@keyframes swing
{
    0% { transform: rotate(7deg); }
    100% { transform: rotate(-9deg); }
}


  

  
  @keyframes bounce {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }




@keyframes rotatecenter {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}




      .animateaa {
        animation: bounce 1s ease-in;
      }

      .rotate360 {
        animation: rotatecenter 0.5s ease-out;
      }
